<h3>Football Blog</h3>
<div class="section">
  <p>Create public and private posts about football</p>
</div>
<div class="divider"></div>
<div class="section">
  <a href="/auth/google" class="btn red darken-1"><i class="fab fa-google left"></i>Log In with Google</a>
</div>