<h6 class="heading">Add Exercise</h6>
<br />
<div class="row">
  <form action="/exercises" method="POST" class="col s12">
    <div class="row">
      <div class="input-field col s6">
        <input placeholder="Name" id="name" type="text" class="validate" name="name">
        <label for="name">Name</label>
      </div>
      <div class="input-field col s6">
        <input placeholder="Duration" id="Duration" type="text" class="validate" name="duration">
        <label for="Duration">Duration</label>
      </div>
    </div>
    <input class="btn deep-purple darken-4" type="submit" value="Add">
  </form>
</div>